<div class="row">
        <strong>Date:</strong>
    <%= @workout.date %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @workout.description %>
  </p>
</div>

<div class="row">
  <div class="col-md-2 col-sm-5 col-xs-5">
    <div class="wrk-rect blue">
    <span>SPORT</span>
    <h2>
    <%= @workout.sport.name %>
    </h2>
    </div>
  </div>

  <div class="col-md-2 col-sm-5 col-xs-5">
    <div class="wrk-rect green">
    <span>TSS</span>
    <h2>
    <%= @workout.tss.to_i %>
    </h2>
    </div>
  </div>

  <div class="col-md-2 col-sm-5 col-xs-5">
    <div class="wrk-rect red">
    <span>DURATION</span>
    <h2>
    <%= floatToTime(@workout.duration) %>
    </h2>
    </div>
  </div>

</div>
<br>
<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
