<div class="row">
        <strong>Date:</strong>
    <%= @workout.date.strftime("%d.%m.%Y") %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @workout.description %>
  </p>
</div>

<div class="row">
  <div class="col-md-3 col-sm-5 col-xs-5">
    <div class="wrk-rect blue">
    SPORT
    <span>
    <%= @workout.sport.name %>
    </span>
    </div>
  </div>

  <div class="col-md-3 col-sm-5 col-xs-5">
    <div class="wrk-rect green">
    TSS
    <span>
    <%= @workout.tss.to_i %>
    </span>
    </div>
  </div>

  <div class="col-md-3 col-sm-5 col-xs-5">
    <div class="wrk-rect red">
    DURATION
    <span>
    <%= floatToTime(@workout.duration) %>
    </span>
    </div>
  </div>
  <div class="options">
    <ul>
      <li class="edit">
      <%= link_to edit_workout_path(@workout) do %>
        <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      </li>
      <li class="delete">
        <%= link_to @workout, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
