<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @periodization_years.each do |periodization_year| %>
      <tr>
        <td><%= periodization_year.title %></td>
        <td><%= link_to 'Show', periodization_year %></td>
        <td><%= link_to 'Edit', edit_periodization_year_path(periodization_year) %></td>
        <td><%= link_to 'Destroy', periodization_year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Periodization Year', new_periodization_year_path %>
