<p id="notice"><%= notice %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Week</th>
      <th>Cycle</th>
      <th>Bike CTL</th>
      <th>Run CTL</th>
      <th>Swim CTL</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @year.periodization_cycles.each do |cycle| %>
      <% cycle.periodization_weeks.each do |week| %>
        <tr>
          <td><%= week.date %></td>
          <td><%= week.periodization_cycle.title %></td>
          <td><%= week.kind %></td>
          <td><%= week.goal_ctl_bike.to_i %></td>
          <td><%= week.goal_ctl_run.to_i %></td>
          <td><%= week.goal_ctl_swim.to_i %></td>
          <td><%= link_to edit_periodization_week_path(week), :class => 'btn btn-sm btn-primary' do %>
              <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>


<%= high_chart("some_id", @chart) %>
<%= link_to 'Edit', edit_periodization_year_path(@periodization_year) %> |
<%= link_to 'Back', periodization_years_path %>
