<%= simple_form_for(@periodization_cycle) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :kind %>
    <%= f.input :goal_ctl_bike %>
    <%= f.input :goal_ctl_run %>
    <%= f.input :goal_ctl_swim %>
    <%= f.input :year_position %>
    <%= f.association :periodization_year %>
    <%= f.simple_fields_for :periodization_weeks do |f| %>
      <%= f.input :title %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
