<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @periodization_cycle.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @periodization_cycle.type %>
</p>

<p>
  <strong>Goal ctl bike:</strong>
  <%= @periodization_cycle.goal_ctl_bike %>
</p>

<p>
  <strong>Goal ctl run:</strong>
  <%= @periodization_cycle.goal_ctl_run %>
</p>

<p>
  <strong>Goal ctl swim:</strong>
  <%= @periodization_cycle.goal_ctl_swim %>
</p>

<p>
  <strong>Atp position:</strong>
  <%= @periodization_cycle.atp_position %>
</p>

<p>
  <strong>Atp:</strong>
  <%= @periodization_cycle.atp %>
</p>

<%= link_to 'Edit', edit_periodization_cycle_path(@periodization_cycle) %> |
<%= link_to 'Back', periodization_cycles_path %>
