<p id="notice"><%= notice %></p>

<h1>Week Plans</h1>

<table>
  <thead>
    <tr>
      <th>Macro period</th>
      <th>Meso period</th>
      <th>Load time</th>
      <th>Load atl</th>
      <th>Load ctl</th>
      <th>Camp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @week_plans.each do |week_plan| %>
      <tr>
        <td><%= week_plan.macro_period %></td>
        <td><%= week_plan.meso_period %></td>
        <td><%= week_plan.load_time %></td>
        <td><%= week_plan.load_atl %></td>
        <td><%= week_plan.load_ctl %></td>
        <td><%= week_plan.camp %></td>
        <td><%= link_to 'Show', week_plan %></td>
        <td><%= link_to 'Edit', edit_week_plan_path(week_plan) %></td>
        <td><%= link_to 'Destroy', week_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Week Plan', new_week_plan_path %>
