<p id="notice"><%= notice %></p>

<p>
  <strong>Macro period:</strong>
  <%= @week_plan.macro_period %>
</p>

<p>
  <strong>Meso period:</strong>
  <%= @week_plan.meso_period %>
</p>

<p>
  <strong>Load time:</strong>
  <%= @week_plan.load_time %>
</p>

<p>
  <strong>Load atl:</strong>
  <%= @week_plan.load_atl %>
</p>

<p>
  <strong>Load ctl:</strong>
  <%= @week_plan.load_ctl %>
</p>

<p>
  <strong>Camp:</strong>
  <%= @week_plan.camp %>
</p>

<%= link_to 'Edit', edit_week_plan_path(@week_plan) %> |
<%= link_to 'Back', week_plans_path %>
