<div class="row">
<div class="col-md-6 col-md-offset-1">
<%= simple_form_for @setting,
  html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    file: :horizontal_file_input,
  } do |f| %>


<%= f.error_notification %>
<%= f.input :season_start, as: :date, html5: true %>
<%= f.input :season_end, as: :date, html5: true %>
<%= f.button :submit, "Change settings", class: "btn btn-success btn-lg"%>

<% end %>

</div>
</div>