<ul class="event-list">
    <% @goals.each do |goal| %>
<li>
                <time datetime="<%= goal.date %>" class="<%= priorityColour(goal.priority) %>">
                    <span class="day"><%= goal.date.strftime("%d")  %></span>
                    <span class="month"><%= goal.date.strftime("%b") %></span>
                    <span class="year"><%= goal.date.year %></span>
                    <span class="time">ALL DAY</span>
                </time>

                <div class="info">
                    <h2 class="title"><%= goal.title %></h2>
                    <p class="desc">(<%= (goal.date - Date.today).to_i %> days to go)</p>
                </div>
                <div class="social">
                    <ul>
                        <li class="edit">
                            <%= link_to edit_goal_path(goal) do %>
                                <span class="glyphicon glyphicon-pencil"></span>
                            <% end %>
                        </li>
                        <li class="delete">
                            <%= link_to goal, method: :delete, data: { confirm: 'Are you sure?' } do %>
                                <span class="glyphicon glyphicon-trash"></span>
                            <% end %>
                        </li>

                    </ul>
                </div>
            </li>
<% end %>

</ul>
<%= link_to('Add goal', new_goal_path, :class => 'btn btn-default btn-lg')  %>
