<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @goal.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @goal.priority %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
