<!DOCTYPE html>
<html>
  <head>
    <title>TriPlanr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
<body>
<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu">
    
    <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <div class="brand-wrapper">
            <!-- Hamburger -->
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Brand -->
            <div class="brand-name-wrapper">
             <%= image_tag("triplanr_logo.png", size: "90", class: "logo") %><br>
                <a class="navbar-brand" href="#">
                    TriPlanr
                </a>

            </div>
        </div>

    </div>

    <!-- Main Menu -->
    <div class="side-menu-container">
        <ul class="nav navbar-nav">

            <li><%= link_to(goals_path) do%><span class="glyphicon glyphicon-check"></span> Goals <% end %></li>
            <li><%= link_to(workouts_path) do%><span class="glyphicon glyphicon-calendar"></span> Calendar <% end %></li>
            <li><%= link_to(pmc_path) do%><span class="glyphicon glyphicon-signal"></span> PMC<% end %></li>
            <li><%= link_to(tsscalc_path) do%><span class="glyphicon glyphicon-dashboard"></span> TSS<% end %></li>
            <li><%= link_to(tests_path) do%><span class="glyphicon glyphicon-search"></span> Tests <% end %> </li>
            <li><%= link_to(periodization_years_path) do%><span class="glyphicon glyphicon-stats"></span> ATP<% end %></li>
            <li><%= link_to(settings_path) do %><span class="glyphicon glyphicon-cog"></span> Settings<% end %></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
    
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
        <%= yield %>
        </div>
    </div>
</div>
</body>
</body>